*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: black;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background: white;
    width: 270px;
    height: 400px;
    margin: 10px;
    border-radius: 15px ;
    
}

.card-image{   
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.gambar1{
    background-image: url('img/lodeh.png');
}
.gambar2{
    background-image: url('img/tumis.png');
}
.gambar3{
    background-image: url('img/pecel.png');
}

.card h2{
    padding: 10px;
}
.card p{
    padding: 10px;
}

.card a{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}

.card:hover{
    background-color: rgb(59, 55, 55);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s ease;
}